.container {
  padding-top: 30rpx;


  .find-input {
    width: 660rpx;
    height: 88rpx;
    margin: auto;
    line-height: 88rpx;
    border-radius: 10rpx;
    border: 1rpx solid #ddd;
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 8rpx 60rpx 0 rgba(0, 0, 0, 0.08);

    .icon-search {
      width: 40rpx;
      height: 40rpx;
      margin-left: 15rpx;
      margin-right: 15rpx;
    }

    .icon_camera {
      width: 45rpx;
      height: 45rpx;
      margin-left: 15rpx;
      margin-right: 15rpx;
    }

    .input-search {
      height: 34rpx;
      color: #3e3d53;
      white-space: nowrap;
      width: 515rpx;
      font-size: 30rpx;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }

  .main {
    padding-top: 50rpx;
    width: 650rpx;

    .item {
      width: 650rpx;
      height: 250rpx;
      margin-bottom: 30rpx;
      background: #fff;
      box-shadow: 0 10rpx 40rpx 0 rgba(10, 113, 238, 0.1);
      border-radius: 10rpx;
      display: flex;
      align-items: center;
      justify-content: center;

      .type {
        width: 180rpx;
        height: 180rpx;
        border-radius: 30rpx;
        margin-right: 20rpx;
      }

      .text {
        width: 400rpx;
        font-size: 32rpx;

      }
    }
  }

}

page {

}