
.dialog-result {

  .mask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.6;
    background-color: #000;
  }

  .container {
    position: fixed;
    background: #ffffff;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width:600rpx;
    border-radius: 10rpx;
    box-shadow:0 4rpx 20rpx 0 rgba(51, 51, 51, 0.08);

    .item {
      display: flex;
      font-size: 30rpx;
      color: #666666;
      align-items:center;
      justify-content: space-between;
      padding:30rpx 30rpx;
      box-sizing:border-box;
      border-bottom:1rpx solid #eee;

      .info {
        display: flex;
        font-size: 30rpx;
        color: #666666;
        align-items:center;

      }

      .icon-right {
        width: 40rpx;
        height: 40rpx;
      }

    }
  }
  .container .item:nth-last-child(1){
    border: 0;
  }
}