.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 660rpx;
  margin-bottom: 20rpx;

  .find-input {
    width: 540rpx;
    height: 88rpx;
    line-height: 88rpx;
    border-radius: 10rpx;
    border: 1rpx solid #ddd;
    display: flex;
    align-items: center;
    box-shadow:0 8rpx 60rpx 0 rgba(0, 0, 0, 0.08);

    .icon-search {
      width: 40rpx;
      height: 40rpx;
      margin-left: 15rpx;
      margin-right: 15rpx;
    }
    .icon_camera {
      width: 45rpx;
      height: 45rpx;
      margin-left: 15rpx;
      margin-right: 15rpx;
    }

    .input-search {
      height: 34rpx;
      color: #999;
      white-space: nowrap;
      width: 395rpx;
      font-size: 30rpx;
      overflow: hidden;
      text-overflow:ellipsis;
    }
  }
  .search-btn {
    padding: 0 5rpx;
    margin-left: 14rpx;
    background: #07b280;
    border-radius: 20rpx;
    font-size: 30rpx;
    line-height: 80rpx;
    height: 80rpx;
    color: #fff;
    text-align: center;
    width: 100rpx;
  }
}.bg-darkGray {
   background-color:  #f6f6f6;
   color:#ffffff;
 }
.cu-bar .search-form {
  background-color:  #ffffff;
}

.filter-view {
  display: flex;
  flex-direction: column;

  .item {
    display: flex;
    font-size: 30rpx;
    color: #666666;
    align-items:center;
    justify-content: space-between;
    padding:30rpx 50rpx;
    box-sizing:border-box;
    border-bottom:1rpx solid #eee;

    .info {
      display: flex;
      font-size: 30rpx;
      color: #666666;
      align-items:center;


      .type-img {
        width: 40rpx;
        height: 40rpx;
        margin-right: 25rpx;
      }

    }

    .icon-right {
      width: 40rpx;
      height: 40rpx;
    }

  }
}
.img{
  height: 50rpx;
  width: 50rpx;
  margin-right: 30rpx;
}
.item-ji {
  background-color:  #f6f6f6;
  color:black;
}
.cu-dialog{
  width: 300rpx;
}
.bg-img{
  width: 300rpx;
  height: 300rpx;
}
.no-view{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 250rpx;
}
.no-img{
  width: 300rpx;
  height: 300rpx;
}
.content{
  color:#07b280;
  font-size:30rpx;
  font-weight: bold;
  margin-top: 30rpx;
}
.btn-view{
  margin-top: 40rpx;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btn-commit{
  border-radius: 20rpx;
  background-color:#07b280;
  color: white;
  margin:0 10rpx;
  padding: 20rpx 80rpx;
}
.fail-info{
  .status-img{
    width:332rpx;
    height:246rpx;
    margin:115rpx auto 60rpx;
    display: block;
  }
  .fail-tip{
    font-size: 32rpx;
    color:#444444;
    text-align: center;
  }
  .fail-reason{
    text-align: center;
    color:#ff6666;
    font-size: 28rpx;
    max-width: 690rpx;
    margin: auto;
    margin-top: 20rpx;
  }
  .service-info{
    margin: 90rpx auto 30rpx;
    .service-info-tip{
      font-size: 26rpx;
      color:#999999;
      text-align: center;
      margin-bottom: 10rpx;
      margin-left: 50rpx;
      margin-right: 50rpx;
      .phone-info{
        color:#07b280;
      }
    }
  }
  navigator{
    width:690rpx;
    height:88rpx;
    border-radius: 10rpx;
    background: #07b280;
    color:#fff;
    line-height: 88rpx;
    text-align: center;
    display: block;
    margin: auto;
  }
}
Page{
  background: #ffffff;
}

page{
  padding-top: 30rpx;
}