.photo-view{
  width: 100%;
  height: 200rpx;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .takePhoto{
    width: 150rpx;
    height: 100rpx;
    border-radius: 100rpx;
    background-color: #07b280;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}
